Benutzeranwenudung:
    - Name eingeben (Account)
    - Alle Chats von diesen Account öffnen
        -> Verlauf
        -> Weiterführen
    - Andere "Accounts" suchen und anschreiben


Applikation:
    - Seite wird geöffnet in browser
    - Name wird eingegeben
    - Request an service auf namen

    *Name vorhanden*
    - Antwort von service mit allen Chats (liste wird angezeigt)
    - chat anklicken
    - nachricht schreiben
    - antwort an service das nachricht geschikt worden ist -> speichert nachricht

    *Name nicht vorhanden*
    - neuer Account kann erstellt werde
    - name eingeben
    - request an service mit neuem name -> erstellt neuer "Accout"
    - antwort von service
    - gleich wie mit vorhandenem name
